@import "assets/fonts/index.css";

header {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    min-height: 120px;
    display: flex !important;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
    top: 0;
}

.P-header-section {
    position: relative;
    width: 100%;
}

.sidenav, .P-header-user {
    width: 100%;
}

.sidenav ul, .P-header-user ul {
    justify-content: space-between;
}

.sidenav ul li, .P-header-user ul li {
    position: relative;
}

.sidenav ul li:hover:before, .sidenav ul li:hover:after, .P-header-user ul li:hover:before, .P-header-user ul li:hover:after {
    width: 100%;
}

.sidenav ul li:before, .P-header-user ul li:before {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    height: 1px;
    background-color: white;
}

.sidenav ul li:after, .P-header-user ul li:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    height: 1px;
    background-color: white;
}

.sidenav ul li span, .sidenav ul li a, .P-header-user ul li span, .P-header-user ul li a {
    line-height: 21px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: transform 0.4s;
    display: block;
    font-weight: bold;
    font-family: Bokonique-Bold;
    position: relative;
}

.sidenav ul li + li, .P-header-user ul li + li {
    margin-left: 20px;
}

.P-header-logo a {
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 97px;
    filter: brightness(0) invert(1);
}

.P-header-logo svg {
    width: 100%;
    height: 100%;
}

.open-menu {
    display: none;
    width: 35px;
    height: 25px;
    position: relative;
}

.open-menu span {
    position: absolute;
    height: 2px;
    background-color: white;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.open-menu-react .open-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
}

.open-menu-react .open-menu span:first-child, .open-menu-react .open-menu span:last-child {
    display: none;
}

.open-menu-react .open-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open-menu-react .open-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open-menu-react .sidenav ul li {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.open-menu-react .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    left: 0;
}

.P-animation-click {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0);
}

.P-animation-click.active-animate-1 {
    animation: ripple-1 0.7s ease-out;
    animation-fill-mode: forwards;
}

.P-animation-click.active-animate-2 {
    animation: ripple-2 0.7s ease-out;
}

@keyframes ripple-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.P-header-user {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.P-header-user a {
    color: black;
}

.P-header-user .P-sub-list {
    left: auto !important;
    right: 0;
}

.P-header-user-block {
    width: 55px;
    height: 25px;
    position: relative;
    padding-right: 25px;
}

.P-header-user-block:hover:before {
    transform: rotate(135deg);
}

.P-header-user-block:hover:after {
    transform: rotate(45deg);
}

.P-header-user-block:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: white;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 4px;
}

.P-header-user-block:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: white;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(135deg);
    top: 50%;
    right: 0;
}

.P-header-user-block span {
    width: 100%;
    height: 25px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 0 !important;
}

.P-header-user-block span:before, .P-header-user-block span:after {
    content: '';
    display: none;
}

.header-menu-block {
    width: 100%;
    padding: 0 25px;
}

.header-menu-block .header-menu {
    width: 100%;
}


.P-has-sub-list {
    position: relative;
}

.P-has-sub-list:hover .P-sub-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.P-has-sub-list:hover > span:before {
    transform: rotate(135deg);
}

.P-has-sub-list:hover > span:after {
    transform: rotate(45deg);
}

.P-has-sub-list span {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
}

.P-has-sub-list span:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: white;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 4px;
}

.P-has-sub-list span:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: white;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(135deg);
    top: 50%;
    right: 0;
}

.P-has-sub-list .P-sub-list {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px 40px 10px 20px;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translateY(-20px);
}

.P-has-sub-list .P-sub-list:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 32px;
    top: -25px;
    left: 0;
}

.P-has-sub-list .P-sub-list ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.P-has-sub-list .P-sub-list ul li {
    margin-left: 0;
    text-align: left;
    font-size: 17px;
    line-height: 22px;
    white-space: nowrap;
}

.P-has-sub-list .P-sub-list ul li a {
    font-family: Bokonique-Regular;
    font-style: normal !important;
    font-weight: normal !important;
    transition: 0.3s;
    padding: 10px 0;
    position: relative;
    text-transform: unset !important;
    color: black;
}

.P-header-search {
    width: 45px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.P-header-search span {
    display: block;
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.P-header-search:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #F45236;
    top: 0;
    right: -20px;
}

.P-user-section {
    width: 115px;
}





/* cover pages */


.P-cover-slider-box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;

}
.P-cover-slider-box:before{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 0.01%, rgba(98, 96, 96, 0.4) 100%);
    top: 0;
    left: 0;
    content: '';
    position: absolute;
}

.G-cover-info-block{
    position: relative;
    z-index: 99;
}

.G-cover-info-block h3{
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}
.liner-title{
    position: relative;
}
.liner-title:before{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    background-color: white;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
}
.liner-title:after{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    background-color: white;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
}
.P-cover-slider-js .slick-next, .P-cover-slider-js .slick-prev{
    position: absolute;
    z-index: 99;
    top: 42%;
}
.P-cover-slider-js .slick-next{
    right: 25px;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
    background-color: transparent;
}
.P-cover-slider-js .slick-prev{
    left: 25px;
    width: 25px;
    height: 25px;
    border: 2px solid white;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-135deg);
    background-color: transparent;

}
.P-cover-btn{
    margin-top: 50px ;

}
.G-btn button{
    width: 180px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
}
.G-btn button:hover{
    background-color: white;
    color: black;
}

.search-block span{
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 25px 0 0 ;
}

.sign-in-btn button{
    width: 140px;
}

.P-cover-links {
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right:  140px;
}

.P-cover-links a{
    display: block;
    width: 31px;
    height: 31px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s;
    filter: brightness(0) invert(1);

}
.P-cover-links a:hover{
    transform: translateY(-10px);
}
.P-cover-links ul li{
    padding: 0 20px ;
}
.link-relative{
    position: relative;
}




/*news block*/

.news-block{
    margin: 150px 0;
}

.news-title{
    margin-bottom: 60px;
}
.news-title h3{
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 55px;
    text-align: center;
    color: #635D5D;
}

.news-title h3:before, .news-title h3:after {
    background-color: #635D5D;
}

.news-slider-img{
    min-height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.info-time {
    position: absolute;
    background-color: #604431;
    height: 100%;
    width: 80px;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-time span{
    position: absolute;
    transform: rotate(-90deg);
    width: 400px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
    text-align: center;
}
.news-slider-information{
    background-color: #FCFBF9;
    padding: 25px  25px 50px 25px;
}
.news-slider-information h3{
    font-family: ArmTimesST;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */

    text-align: center;

    color: #604431;
    max-width: 900px;
    width: 100%;
    margin: 20px auto;
}
.news-slider-information p{
    font-family: 'ArmTimeST';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
}

.news-list-btn button{
    border: 2px solid #604431;
    color: #604431;
}
.news-slider-js{
    padding: 0 50px;
}


.news-slider-js .slick-next, .news-slider-js .slick-prev{
    position: absolute;
    z-index: 99;
    top: 50%;
}
.news-slider-js .slick-next{
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #604431;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
    background-color: transparent;
}
.news-slider-js .slick-prev{
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #604431;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-135deg);
    background-color: transparent;

}

.news-slider-js .slick-dots  li button{
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.news-slider-js .slick-dots  li{
    padding: 0 15px;
}

.news-slider-js .slick-dots {
    display: flex;
    align-items: center;
}
.news-slider-js .slick-dots{
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);

}
.news-slider-js .slick-dots  li.slick-active button{
    background-color: #604431;
}



.exhibitions-block-slider-block{
    margin-top: 100px;
    margin-bottom: 100px;
}
.exhibitions-block-slider-box{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.exhibitions-block-slider-box .exhibitions-img{
    width: 100%;
    min-height: 700px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exhibitions-block-slider-box{
    position: relative;
}
.exhibitions-block-slider-box .exhibitions-info{
    background-color: #604431;
    padding: 10px 20px;
    width: 100%;
}


.exhibitions-info p{
    font-family: Bokonique-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 43px;
    color: white;
}



.exhibitions-block-slider-js .slick-next, .exhibitions-block-slider-js .slick-prev{
    position: absolute;
    z-index: 99;
    top: 50%;
}
.exhibitions-block-slider-js .slick-next{
    right: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #604431;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
    background-color: transparent;
}
.exhibitions-block-slider-js .slick-prev{
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #604431;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-135deg);
    background-color: transparent;

}
.company-section{
    padding: 35px 0;
    background: #FCFBF9;
}

.company-block{
    margin: 50px -50px;
}
.padding-company{
    padding: 50px;
    width: 25%;
}
.company-box{
    min-height: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


footer{
    background-color: #292622;
    padding: 35px 0;
    min-height: 250px;
    display: flex;
    align-items: center;
}

.footer-left{
    width: 40%;
}
.footer-right{
    width: 30%;
}

.footer-address ul li{
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin: 25px 0;
}
.footer-address ul li h3{
    font-family: ArmTimesST;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: #FFFFFF;
}

.footer-address ul li p{
    font-family: ArmTimesST;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 15px;
    line-height: 2;

}

.footer-subscribe p{
    font-family: ArmTimesST;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subscribe-block label{
    display: block;
}
.subscribe-block label input{
    width: 250px;
    background-color: transparent;
    border: 2px solid white;
    padding: 0 15px;
    font-size: 18px;
    height: 40px;
}
.subscribe-btn button{
    font-family: ArmTimesST;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin-left: -1px;
}

.footer-links .P-cover-links{
    position: relative;
    margin: 0;
    margin-top: 45px;
    right: 0;
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}