@import "assets/fonts/index.css";

header {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    min-height: 120px;
    display: flex !important;
    align-items: center;
    background-color: #F3F3F3;
    top: 0;
}

.P-header-section {
    position: relative;
    width: 100%;
}

.sidenav, .P-header-user {
    width: 100%;
}

.sidenav ul, .P-header-user ul {
    justify-content: space-between;
}

.sidenav ul li, .P-header-user ul li {
    position: relative;
}

.sidenav ul li:hover:before, .sidenav ul li:hover:after, .P-header-user ul li:hover:before, .P-header-user ul li:hover:after {
    width: 100%;
}

.sidenav ul li:before, .P-header-user ul li:before {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    height: 1px;
    background-color: black;
}

.sidenav ul li:after, .P-header-user ul li:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.5s;
    height: 1px;
    background-color: black;
}

.sidenav ul li span, .sidenav ul li a, .P-header-user ul li span, .P-header-user ul li a {
    line-height: 21px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
    transition: transform 0.4s;
    display: block;
    font-weight: bold;
    font-family: Bokonique-Bold;
    position: relative;
}

.sidenav ul li + li, .P-header-user ul li + li {
    margin-left: 20px;
}

.P-header-logo a {
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 97px;
}

.P-header-logo svg {
    width: 100%;
    height: 100%;
}

.open-menu {
    display: none;
    width: 35px;
    height: 25px;
    position: relative;
}

.open-menu span {
    position: absolute;
    height: 2px;
    background-color: #F45236;
    width: 100%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.open-menu-react .open-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
}

.open-menu-react .open-menu span:first-child, .open-menu-react .open-menu span:last-child {
    display: none;
}

.open-menu-react .open-menu span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open-menu-react .open-menu span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open-menu-react .sidenav ul li {
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
    opacity: 1 !important;
    visibility: visible !important;
}

.open-menu-react .for-mobile-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    left: 0;
}

.P-animation-click {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0);
}

.P-animation-click.active-animate-1 {
    animation: ripple-1 0.7s ease-out;
    animation-fill-mode: forwards;
}

.P-animation-click.active-animate-2 {
    animation: ripple-2 0.7s ease-out;
}

@keyframes ripple-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.P-header-user {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.P-header-user a {
    color: black;
}

.P-header-user .P-sub-list {
    left: auto !important;
    right: 0;
}

.P-header-user-block {
    width: 55px;
    height: 25px;
    position: relative;
    padding-right: 25px;
}

.P-header-user-block:hover:before {
    transform: rotate(135deg);
}

.P-header-user-block:hover:after {
    transform: rotate(45deg);
}

.P-header-user-block:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: black;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 4px;
}

.P-header-user-block:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: black;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(135deg);
    top: 50%;
    right: 0;
}

.P-header-user-block span {
    width: 100%;
    height: 25px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 0 !important;
}

.P-header-user-block span:before, .P-header-user-block span:after {
    content: '';
    display: none;
}

.header-menu-block {
    width: 100%;
    padding: 0 55px;
}

.header-menu-block .header-menu {
    width: 100%;
}


.P-has-sub-list {
    position: relative;
}

.P-has-sub-list:hover .P-sub-list {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.P-has-sub-list:hover > span:before {
    transform: rotate(135deg);
}

.P-has-sub-list:hover > span:after {
    transform: rotate(45deg);
}

.P-has-sub-list span {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
}

.P-has-sub-list span:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: black;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right: 4px;
}

.P-has-sub-list span:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 2px;
    background-color: black;
    border-left: none;
    border-bottom: none;
    transition: 0.3s;
    transform: translateY(-50%) rotate(135deg);
    top: 50%;
    right: 0;
}

.P-has-sub-list .P-sub-list {
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 10px 40px 10px 20px;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    transform: translateY(-20px);
}

.P-has-sub-list .P-sub-list:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 32px;
    top: -25px;
    left: 0;
}

.P-has-sub-list .P-sub-list ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.P-has-sub-list .P-sub-list ul li {
    margin-left: 0;
    text-align: left;
    font-size: 17px;
    line-height: 22px;
    white-space: nowrap;
}

.P-has-sub-list .P-sub-list ul li a {
    font-family: Bokonique-Regular;
    font-style: normal !important;
    font-weight: normal !important;
    transition: 0.3s;
    padding: 10px 0;
    position: relative;
    text-transform: unset !important;
}

.P-header-search {
    width: 45px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.P-header-search span {
    display: block;
    width: 22px;
    height: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.P-header-search:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #F45236;
    top: 0;
    right: -20px;
}

.P-user-section {
    width: 115px;
}


/*Cover page*/

.P-cover-section {
    margin-top: 180px;
}

.P-cover-section .P-cover-info-block {
    width: 100%;
}

.P-cover-section .P-cover-slider-block {
    max-width: 1000px;
    width: 100%;
}

.slider-cover-js .slider-cover-box {
    width: 100%;
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.P-cover-info-block {
    padding: 0 100px 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.P-cover-info-block h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 55px;
}

.P-cover-info-block p {
    font-size: 20px;
    line-height: 45px;
    margin-top: 40px;
}

.P-cover-info-block .P-read-all-btn {
    max-width: 240px;
    width: 100%;
    margin-top: 60px;
}

.P-cover-slider-block .slick-prev, .P-cover-slider-block .slick-next {
    width: 100px;
    height: 70px;
    background-color: white;
    top: auto;
    transform: translateY(0);
    position: absolute;
    z-index: 9999;
    bottom: -2px;
    cursor: pointer;
}

.P-cover-slider-block .slick-prev {
    left: auto;
    right: 98px;
}

.P-cover-slider-block .slick-next {
    right: -1px;
}

.P-cover-slider-block .slick-prev:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-135deg);
    top: 50%;
    left: 30px;
}

.P-cover-slider-block .slick-prev:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: black;
    border-bottom: none;
    transform: translateY(-50%) ;
    top: 50%;
    left: 30px;
}

.P-cover-slider-block .slick-next:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right:  30px;
}

.P-cover-slider-block .slick-next:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: black;
    border-bottom: none;
    transform: translateY(-50%) ;
    top: 50%;
    right: 30px;
}

.P-cover-links {
    margin-top: 90px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.P-cover-links a{
    display: block;
    width: 31px;
    height: 31px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: 0.3s;
}
.P-cover-links a:hover{
    transform: translateY(-10px);
}
.P-cover-links ul li{
    padding: 0 20px ;
}

.exhibitions-block{
    padding: 60px 0;
}
.exhibitions-block .exhibitions-title h3{
    font-size: 36px;
    color: #F45236;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Bokonique-Bold;
    margin-left: 250px;
    background-color: white;
    padding: 0 25px;

}
.exhibitions-section{
    position: relative;
    overflow: hidden;
}
.exhibitions-block .exhibitions-title h3:before{
    width: 100%;
    position: absolute;
    content: '';
    height: 2px;
    background-color: black;
    left: 0;
   top: 80px;
    z-index: -1;

}
.exhibitions-block .exhibitions-title h3:after{
    width: 100%;
    position: absolute;
    content: '';
    height: 15px;
    background-color: white;
    left: 40%;
    top: 75px;
    z-index: -1;
}


.exhibitions-block-slider-block{
    margin-top: 100px;
    margin-bottom: 100px;
}
.exhibitions-block-slider-box{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.exhibitions-block-slider-box .exhibitions-img{
    width: 100%;
    min-height: 700px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.exhibitions-block-slider-box{
    position: relative;
}
.exhibitions-block-slider-box .exhibitions-info{
    position: absolute;
    background-color: white;
    padding: 15px;
    left: 0;
    bottom: -15px;

}

.exhibitions-info h3{
    font-family: Bokonique-Bold;
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
}
.exhibitions-info p{
    font-family: Bokonique-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-top: 25px;
}



.exhibitions-block-slider-js .slick-prev, .exhibitions-block-slider-js .slick-next {
    width: 100px;
    height: 70px;
    background-color: white;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 9999;
    bottom: -2px;
    cursor: pointer;
}

.exhibitions-block-slider-js .slick-prev {
    left: 0;
}

.exhibitions-block-slider-js .slick-next {
    right: 0;
}

.exhibitions-block-slider-js .slick-prev:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(-135deg);
    top: 50%;
    left: 30px;
}

.exhibitions-block-slider-js .slick-prev:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: black;
    border-bottom: none;
    transform: translateY(-50%) ;
    top: 50%;
    left: 30px;
}

.exhibitions-block-slider-js .slick-next:before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-left: none;
    border-bottom: none;
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
    right:  30px;
}

.exhibitions-block-slider-js .slick-next:after {
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background-color: black;
    border-bottom: none;
    transform: translateY(-50%) ;
    top: 50%;
    right: 30px;
}



.about-us-img{
    width: 50%;
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-us-information{
    width: 50%;
    padding: 100px 40px;
    margin-left: -20px;
    background-color: white;

}

.about-us-information h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    color: #000000;
}

.about-us-information p{
    font-family: Bokonique-Light;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 45px;
    color: #000000;
    margin-top: 35px;
}

.about-us-information .P-read-all-btn{
    width: 260px;
    margin-top: 60px;

}

.about-us-section .exhibitions-title h3{
     margin-left: auto;
    margin-right: 250px;
    text-align: right;
}

.about-us-section .exhibitions-title h3:after{

    left: -31vw;


}
.about-us-section{
    margin-bottom: 75px;
}

.company-block{
    margin: 100px -50px;
}
.padding-company{
    padding: 50px;
    width: 25%;
}
.company-box{
    min-height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

footer{
    min-height: 300px;
    background-color: #F3F3F3;
}
.footer-left{
    width: 79%;
}
.footer-contact-list{
    width: 100%;
}
.footer-contact-list{
    margin-left: 100px;
}
.footer-contact-list ul li{
    padding: 0 15px;
}
.footer-contact-list h3{
    font-family: Bokonique-Bold;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer-contact-list p{
    font-family: Bokonique-Regular;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-top: 25px;
}

.footer-right .P-cover-links{
    margin: 0;
}

.body_fix {
    width: 100%;
    overflow: hidden;
    left: 0;
    transition: 0.3s;
}

