@font-face {
  font-family: Bokonique-Regular;
  src: url('Bokonique-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Bokonique-Light;
  src: url('Bokonique-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Bokonique-Bold;
  src: url('Bokonique-Bold.otf');
  font-weight: bold;
  font-style: normal;
}