@media (max-height: 600px) {
    .P-cover-slider-box{
        height: 600px;
    }
    .P-cover-slider-box:before{
        height: 100%;
    }
}


@media (max-width: 1750px) {


    .exhibitions-block-slider-box {
        max-width: 90%;
    }

    .exhibitions-block-slider-box .exhibitions-img {
        min-height: 600px;
    }
    .company-block {
        margin: 100px -15px;
    }
    .padding-company {
        padding: 15px;
    }

    .sidenav ul li span, .sidenav ul li a{
        font-size: 14px;
    }
    .liner-title:after, .liner-title:before{
        width: 15%;
    }
}
@media (max-width: 1450px) {
    .sign-in-btn button{
        width: 85px;
        height: 30px;
        font-size: 14px;
    }
    .G-cover-info-block h3{
        font-size: 36px;
        max-width: 650px;
    }
    .liner-title:after{
        right: 105%;
    }
    .liner-title:before{
            left: 105%;
        }
    .sidenav ul li + li{
        margin-left: 10px;
    }

    /*header start*/
    .sidenav ul li span, .sidenav ul li a {
        font-size: 12px;
    }

    .P-header-search {
        width: 30px;
        height: 20px;
        margin-right: 10px;
    }

    .P-header-user-block {
        width: 41px;
        height: 23px;
        padding-right: 17px;
    }

    .P-header-user {
        margin-left: 10px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 14px;
    }

    .P-header-logo a {
        width: 115px;
    }

    .P-header-search:before {
        right: -10px;
    }

    /*header end*/
    .P-cover-section .P-cover-info-block {
        padding-right: 50px;
    }


    .exhibitions-info h3 {
        font-size: 20px;
    }


    .about-us-section .exhibitions-block{
        padding: 0;
    }
    .exhibitions-block .exhibitions-title h3:before{
        top: 20px;
    }
    .exhibitions-block .exhibitions-title h3:after{
        top: 18px;
    }
    .footer-contact-list{
        margin-left: 50px;
    }
    .news-slider-img{
        min-height: 400px;
    }
}

@media (max-width: 1300px) {
    /*header start */
    .sidenav ul li span, .sidenav ul li a {
        font-size: 12px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 12px;
    }

    /*header end */
    .exhibitions-info p {
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 1199.98px) {
    .news-block{
        margin: 50px 0;
    }
    .exhibitions-block{
        margin-top: 100px;
    }
    .exhibitions-block-slider-block{
        margin-top: 50px;
    }
    /*header start */
    .P-has-sub-list .P-sub-list ul li a {
        padding: 5px 0;
    }

    .P-has-sub-list .P-sub-list {
        top: 30px;
    }

    header {
        min-height: 70px;
    }

    .P-header-user-block {
        width: 38px;
    }

    .P-user-section {
        width: 75px;
    }

    .P-has-sub-list span {
        padding-right: 14px;
    }

    .sidenav ul li span, .sidenav ul li a {
        font-size: 10px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 10px;
    }

    .P-header-logo a {
        width: 80px;
    }
    .footer-logo  .P-header-logo a {
        width: 115px;
    }

    /*header end */

    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 400px;
    }
}

@media (min-width: 997.98px) {
    .header-menu-block .header-menu .menu-cnt {
        width: 100% !important;
    }
}

@media (max-width: 997.98px) {
    .search-sign-in{
        margin-right: 100px;
    }
    .liner-title:after, .liner-title:before{
        content: '';
        display: none;
    }
    .link-relative  .P-cover-links{
        left: 50%;
        transform: translateX(-50%);
    }
    /*header start */
    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 10px;
    }

    .open-menu span:last-child {
        top: 20px;
    }

    .open-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: 999999999;
        bottom: 17px;
    }

    .header-change-language ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        padding: 25px 0;
        display: flex;
        justify-content: flex-end !important;
        align-items: flex-start !important;
        background-color: #604431;
        transition: 0.3s;
    }

    .open-menu-react .menu-cnt {
        width: 250px !important;
    }

    .sidenav ul li:before, .P-header-user ul li:before, .sidenav ul li:after, .P-header-user ul li:after {
        background-color: white;
    }

    .sidenav {
        margin-top: 60px;
        padding-right: 15px;
        height: calc(100vh - 102px);
        overflow: hidden;
        overflow-y: auto;
    }

    .sidenav ul li span, .sidenav ul li a {
        white-space: nowrap;
        font-size: 13px;
        color: white;
    }

    .sidenav ul li span:before, .sidenav ul li span:after, .sidenav ul li a:before, .sidenav ul li a:after {
        background-color: white;
    }

    .sidenav ul li + li {
        margin-left: 0;
        margin-top: 10px;
    }

    .menu-cnt ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: flex-end;
    }

    .open-menu.close-menu span {
        background-color: white;
    }

    .header-menu-block {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .sidenav ul li a {
        color: white !important;
    }

    .sidenav > ul > li {

        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: auto;
    }

    .P-user-section {
        margin-right: 55px;
    }

    .menu-cnt .P-has-sub-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-cnt .P-has-sub-list:hover .P-sub-list {
        max-height: 300px;
        opacity: 1;
        visibility: visible;
    }

    .menu-cnt .P-sub-list {
        position: relative;
        visibility: hidden;
        background-color: transparent;
        box-shadow: none;
        padding: 0 15px 0 0;
        top: 0;
        transform: translateY(0);
        max-height: 0;
        opacity: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    .menu-cnt .P-sub-list ul {
        align-items: flex-end;
    }

    .menu-cnt .P-sub-list ul li a {
        color: white;
        text-align: right;
        font-size: 10px;
    }

    .P-has-sub-list .P-sub-list ul li a {
        padding: 0;
    }

    .close-menu span:first-child, .close-menu span:last-child {
        display: none;
    }

    .close-menu span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .close-menu span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }


    .body_fix .for-mobile-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
        left: 0;
    }

    /*header end */

    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 500px;
    }

    .news-slider-img{
        min-height: 250px;
    }
    .info-time span{
        font-size: 16px;
    }
    .info-time{
        width: 50px;
    }
    .footer-block, .footer-left{
        flex-direction: column;
    }
    .footer-left, .footer-right{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}
@media (max-width: 766.98px){
    .company-block{
        margin: 45px -15px;
    }
    .padding-company{
        width: 50%;
    }
    .company-box{
        min-height: 80px;
    }

    .G-cover-info-block h3{
        font-size: 28px;
        max-width: 450px;
    }
    .P-cover-slider-js .slick-next, .P-cover-slider-js .slick-prev, .exhibitions-block-slider-js .slick-next, .exhibitions-block-slider-js .slick-prev{
        display: none !important;
    }
    .news-title h3{
        font-size: 28px;
    }
    .news-title{
        margin-bottom: 30px;
    }
    .company-block{
        margin: 0 -15px;
    }

}

@media (max-width: 576px){
    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 400px;
    }
    .G-cover-info-block h3{
        font-size: 20px;
    }
    .header-menu-block{
        padding: 0;
    }
    .search-sign-in{
        margin-right: 60px;
    }
    .news-slider-js{
        padding: 0;
    }
    .news-slider-js .slick-next, .news-slider-js .slick-prev{
        display: none !important;
    }
    .news-slider-information h3{
        font-size: 18px;
        line-height: 1.5;
    }
    .news-slider-information p{
        font-size: 14px;
        line-height: 1.5;
    }
    .exhibitions-block-slider-box{
        max-width: 100%;
    }
    .subscribe-block label input{
        width: 150px;
    }
}