@media (max-width: 1750px) {
    .company-block {
        margin: 100px -15px;
    }

    .padding-company {
        padding: 15px;
    }

    .exhibitions-block-slider-box {
        max-width: 90%;
    }

    .exhibitions-block-slider-box .exhibitions-img {
        min-height: 600px;
    }

}

@media (max-width: 1550px) {
    .header-menu-block {
        padding: 0 20px;
    }

    /*    cover section start*/
    .P-cover-section {
        justify-content: space-between;
    }

    .P-cover-section .P-cover-slider-block {
        max-width: 700px;
    }

    /*    cover section end*/
}

@media (max-width: 1450px) {

    /*header start*/
    .sidenav ul li span, .sidenav ul li a {
        font-size: 14px;
    }

    .P-header-search {
        width: 30px;
        height: 20px;
        margin-right: 10px;
    }

    .P-header-user-block {
        width: 41px;
        height: 23px;
        padding-right: 17px;
    }

    .P-header-user {
        margin-left: 10px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 14px;
    }

    .P-header-logo a {
        width: 115px;
    }

    .P-header-search:before {
        right: -10px;
    }

    /*header end*/
    .P-cover-section .P-cover-info-block {
        padding-right: 50px;
    }


    .exhibitions-info h3 {
        font-size: 20px;
    }

    .exhibitions-info p {
        font-size: 28px;
        margin-top: 15px;
    }
    .about-us-section .exhibitions-block{
        padding: 0;
    }
    .exhibitions-block .exhibitions-title h3:before{
        top: 20px;
    }
    .exhibitions-block .exhibitions-title h3:after{
        top: 18px;
    }
    .footer-contact-list{
        margin-left: 50px;
    }
}

@media (max-width: 1300px) {
    /*header start */
    .sidenav ul li span, .sidenav ul li a {
        font-size: 12px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 12px;
    }

    /*header end */

}

@media (max-width: 1199.98px) {
    /*header start */
    .P-has-sub-list .P-sub-list ul li a {
        padding: 5px 0;
    }

    .P-has-sub-list .P-sub-list {
        top: 30px;
    }

    header {
        min-height: 70px;
    }

    .P-header-user-block {
        width: 38px;
    }

    .P-user-section {
        width: 75px;
    }

    .P-has-sub-list span {
        padding-right: 14px;
    }

    .sidenav ul li span, .sidenav ul li a {
        font-size: 10px;
    }

    .P-header-user ul li a, .P-header-user ul li span {
        font-size: 10px;
    }

    .P-header-logo a {
        width: 80px;
    }

    /*header end */
    /*    cover section start*/
    .P-cover-section {
        margin-top: 140px;

    }

    .P-cover-info-block h3 {
        font-size: 26px;
        line-height: 1.5;
    }

    .P-cover-info-block p {
        font-size: 18px;
        line-height: 1.5;
    }

    .slider-cover-js .slider-cover-box {
        min-height: 450px;
    }

    .P-cover-section .P-cover-info-block {
        width: 40%;
    }

    .P-cover-section .P-cover-slider-block {
        width: 60%;
    }

    .P-cover-slider-block .slick-prev, .P-cover-slider-block .slick-next {
        height: 30px;
        width: 60px;

    }

    .P-cover-slider-block .slick-prev:before {
        width: 8px;
        height: 8px;
        left: 15px;
    }

    .P-cover-slider-block .slick-next:before {
        width: 8px;
        height: 8px;
        right: 15px;
    }

    .P-cover-slider-block .slick-prev:after {
        width: 30px;
        left: 15px;
    }

    .P-cover-slider-block .slick-next:after {
        width: 30px;
        right: 15px;
    }

    .P-cover-slider-block .slick-prev {
        right: 59px;
    }

    /*    cover section end*/


    .exhibitions-block-slider-js .slick-prev, .exhibitions-block-slider-js .slick-next{
        height: 40px;
        width: 70px;
    }
    .exhibitions-block-slider-js .slick-prev:before, .exhibitions-block-slider-js .slick-next:before{
        width: 8px;
        height: 8px;

    }
    .exhibitions-block-slider-js .slick-prev:after, .exhibitions-block-slider-js .slick-next:after{
        width: 30px;
    }
    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 400px;
    }
    .exhibitions-block-slider-block{
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .exhibitions-block .exhibitions-title h3{
        font-size: 28px;
    }

    .about-us-information{
        padding: 20px ;
    }
    .about-us-information h3, .about-us-information p{
        line-height: 1.5;
    }
    .about-us{
        margin-top: 25px;
    }
.footer-block, .footer-left{
    flex-direction: column;
}
    .footer-contact-list{
        margin-left: 0;
        margin: 35px 0;
    }
    footer .P-header-logo a{
        width: 150px;
    }
    footer{
        padding: 25px 0;
    }
    .footer-left{
        width: 100%;
    }

}

@media (min-width: 997.98px) {
    .header-menu-block .header-menu .menu-cnt {
        width: 100% !important;
    }
}

@media (max-width: 997.98px) {
    /*header start */
    .open-menu span:nth-child(2), .open-menu span:nth-child(3) {
        top: 10px;
    }

    .open-menu span:last-child {
        top: 20px;
    }

    .open-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        z-index: 999999999;
        bottom: 17px;
    }

    .header-change-language ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .menu-cnt {
        margin: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 9999;
        top: 0;
        right: 0;
        padding: 25px 0;
        display: flex;
        justify-content: flex-end !important;
        align-items: flex-start !important;
        background-color: #815D45;
        transition: 0.3s;
    }

    .open-menu-react .menu-cnt {
        width: 250px !important;
    }

    .sidenav ul li:before, .P-header-user ul li:before, .sidenav ul li:after, .P-header-user ul li:after {
        background-color: white;
    }

    .sidenav {
        margin-top: 60px;
        padding-right: 15px;
        height: calc(100vh - 102px);
        overflow: hidden;
        overflow-y: auto;
    }

    .sidenav ul li span, .sidenav ul li a {
        white-space: nowrap;
        font-size: 13px;
        color: white;
    }

    .sidenav ul li span:before, .sidenav ul li span:after, .sidenav ul li a:before, .sidenav ul li a:after {
        background-color: white;
    }

    .sidenav ul li + li {
        margin-left: 0;
        margin-top: 10px;
    }

    .menu-cnt ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: flex-end;
    }

    .open-menu.close-menu span {
        background-color: white;
    }

    .header-menu-block {
        justify-content: flex-end;
        align-items: flex-end;
    }

    .sidenav ul li a {
        color: white !important;
    }

    .sidenav > ul > li {

        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: auto;
    }

    .P-user-section {
        margin-right: 55px;
    }

    .menu-cnt .P-has-sub-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu-cnt .P-has-sub-list:hover .P-sub-list {
        max-height: 300px;
        opacity: 1;
        visibility: visible;
    }

    .menu-cnt .P-sub-list {
        position: relative;
        visibility: hidden;
        background-color: transparent;
        box-shadow: none;
        padding: 0 15px 0 0;
        top: 0;
        transform: translateY(0);
        max-height: 0;
        opacity: 0;
        transition: 0.5s;
        overflow: hidden;
    }

    .menu-cnt .P-sub-list ul {
        align-items: flex-end;
    }

    .menu-cnt .P-sub-list ul li a {
        color: white;
        text-align: right;
        font-size: 10px;
    }

    .P-has-sub-list .P-sub-list ul li a {
        padding: 0;
    }

    .close-menu span:first-child, .close-menu span:last-child {
        display: none;
    }

    .close-menu span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg)
    }

    .close-menu span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }


    .body_fix .for-mobile-bg {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9;
        left: 0;
    }

    /*header end */
    /*    cover section start*/
    .P-cover-info-block h3 {
        font-size: 22px;
    }

    .P-cover-info-block p {
        font-size: 16px;
    }

    .G-btn button {
        height: 40px;
        font-size: 16px;
    }

    .P-cover-info-block .P-read-all-btn {
        max-width: 180px;
        margin-top: 35px;
    }

    .slider-cover-js .slider-cover-box {
        min-height: 400px;
    }

    /*    cover section end*/

    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 500px;
    }
    .exhibitions-info h3{
        font-size: 16px;
    }
    .exhibitions-info p{
        font-size: 22px;
        margin-top: 10px;
    }
    .about-us{
        flex-direction: column-reverse;
    }
    .about-us-img, .about-us-information{
        width: 100%;
    }
    .about-us-section .exhibitions-title h3{
        margin-right: 0;
        text-align: center;
    }
    .about-us-section .exhibitions-title h3:before,  .about-us-section .exhibitions-titleh3:after{
        content: '';
        display: none;
    }
    .about-us-information h3, .about-us-information p{
        text-align: center;
    }
    .about-us-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }
    .about-us-img{
       background-size: contain;
        min-height: 650px;
    }
    .about-us-information{
        margin-left: 0;
    }

}

@media (max-width: 766.98px) {
    /*    cover section start*/
    .P-cover-section {
        flex-direction: column-reverse;
    }

    .P-cover-section .P-cover-slider-block, .P-cover-info-block {
        width: 100%;
        max-width: 100%;

    }

    .P-cover-section .P-cover-info-block {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        margin-top: 35px;
    }

    .P-cover-info-block {
        text-align: center;
    }

    .P-cover-info-block h3, .P-cover-info-block p {
        width: 100%;
    }

    .P-cover-info-block {
        flex-direction: column;
        align-items: center;
    }

    .P-cover-links {
        margin-top: 45px;
    }

    .P-cover-links a {
        width: 20px;
        height: 20px;
    }

    .P-cover-links ul li {
        padding: 0 10px;
    }

    /*    cover section end*/

    .exhibitions-block{
        padding-top: 0;
    }
    .exhibitions-block .exhibitions-title  h3{
        margin-left: 0;
        text-align: center;
        padding: 0;
    }
    .exhibitions-block .exhibitions-title h3:before,  .exhibitions-block .exhibitions-title h3:after{
        content: '';
        display: none;
    }
    .about-us-img{
        background-size: contain;
        min-height: 450px;
    }
    .about-us-information p{
        font-size: 13px;
    }
    .padding-company{
        width: 50%;
    }
    .company-box{
        min-height: 80px;
    }
    .company-block{
        margin: 45px -15px;
    }
    .footer-contact-list ul{
        flex-direction: column;
        align-items: center;
    }
    .footer-contact-list h3{
        text-align: center;
        margin-top: 15px;
    }
    .footer-contact-list p{
        margin-top: 10px;
    }
}

@media (max-width: 575.98px) {
    .slider-cover-js .slider-cover-box {
        min-height: 250px;
    }
    .exhibitions-block-slider-box .exhibitions-img{
        min-height: 400px;
    }
    .about-us-img{
        background-size: contain;
        min-height: 350px;
    }
    .footer-contact-list h3{
        font-size: 20px;
    }
    .footer-contact-list p{
     font-size: 14px;
    }
    .footer-contact-list ul li{
        padding: 0;
    }
    .footer-contact-list{
        margin: 20px 0;
    }
}
